data
.env
venv
.DS_Store
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lzop
*.tar.lz4
*.tar.lzma2
